<<<<<<< HEAD
body{
	color:#001848;
	font-family: :arial,sans-serif;
	font-size: 13px;
}
h1, h2, h3, h4{
	color: #251a6b;
	font-family: "Oswald",arial,sans-serif;
}
.fixed{
	position: fixed;
	left: 0px;
	right: 0px;
	background: rgba(255,255,255,.3);
	top: 0px;
}
.header .text-center{
	padding: 20px 20px;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.5s;;

}
.header .text-center:hover{
	text-decoration: none;
	background: #ECECEC;
	transform: scale(1.2);
}
.header-content{
	background: url("../img/dance_1.jpg") top center;
	color: gray;
	text-align: left;
	padding: 250px 0;
	margin-top: 150px;
}
.header-content h1{
	color: #251a6b;
}
.contenido{
	margin-left: 150px;
}
=======














































































































body div{outline: red 1px solid}
img{
	width: 565px;
	height: 300px;
	margin: 0;
	padding: 0;
}
.baile{
	position: relative;
	float: left;
}
.profe{
	position: absolute;
	left: 28%;
	top:226px;
	background: blue;
	color: white;
	font-size: 24px;
	padding: 20px 100px;
}
.danza{

  	font-size: 38px;
	background: url(../img/textura_2.jpg);
	padding: 100px 100px;
}
<<<<<<< HEAD
.ubicacion{
	background: rgba(11,52,91,1);
	padding-bottom: 150px;
}
.parra{
	color: white;
	padding-left: 80px;
	padding-top: 80px;
	text-align: justify;
	font-size: 12px;
	width: 400px;
}
.ubicacion h3{
	padding-top: 30px;
	color: white;
	padding-left: 80px;
}
.direc{
	color: white;
	padding-left: 80px;
	font-size: 12px;
}
.mapa{
	position: absolute;
	left: 45%;
	top: 600px;

}
=======
>>>>>>> 75c93c1ffa7940dae722d5d38d22f4a272a27c18
>>>>>>> 15dc51ff10baca979dbbf222b03df2181128fe8c
